<div class="areaP">
    <div class="{{imgP}}"></div>

    <div class="info">
        <h1>{{titP}}</h1>
        <h3>{{descripP}}</h3>
        <br>
        <a href="/contacto">
            <button type="button" class="buttonAP">
                <span>Contáctanos</span>
            </button>
        </a>
    </div>

</div>
