<br>

<div class="cafe">
  <div class="cafe1"></div>
  <div class="cafe2">
    <div class="sombra" style="background-color: rgba(0, 0, 0, 0.76);" "text-center p-3"></div>
    <center>
        <h3>Empecemos el día <br> poniendo tus ideas en marcha</h3>
        
        <a href="/contacto">
            <button type="button" class="buttonAP">
                <span>Contáctanos</span>
            </button>
        </a>
    </center>
  </div>
</div>