<div class="misionI">
    <h1 class="mision">Misión</h1>
    <h4>Desarrollarnos, posicionarnos y consolidarnos como una empresa
        líder en la prestación de servicios tecnológicos, tales como
        desarrollo  web, consultoría y planificación de  
        infraestructura, convirtiéndonos en aliados estratégicos,
        brindando soluciones a la medida de sus necesidades.</h4>
</div>