<center>
    <h1 class="sb-nosotros">Sobre Nosotros</h1>
</center>

<br>

<div class="sobrenosotros">
    <div class="collage"></div>
    <div class="SNh4">
        <h4><strong>Lorem</strong> es una empresa especialista en infraestructuras, mantenimiento, auditoría y seguridad 
        informática, <i>hardware</i>, y redes en un sistema de trabajo. Ubicada en Torreón, Coahuila, <strong>Lorem</strong> atiende a clientes en todo 
        el mundo, brindando servicios internacionales eficientes y de alta calidad. Entregamos los proyectos a 
        tiempo y mantenemos una comunicación regular con nuestros clientes para mantener su confianza. De esta forma 
        garantizamos que los firmantes siempre estarán satisfechos y el margen de error se mantendrá al mínimo en 
        el proyecto asignado.</h4>
    </div>
</div>