{{#if session}}
    {{>navActivo}}
{{else}}
    {{>navbar}}
{{/if}}
    
{{>areaP}}

<br>
<div class="mantenimiento-logo">
<div class="icon-mant"><ion-icon name="refresh-outline"></ion-icon></div>
</div>

<h3 class="descIND">Inspecciones, reparaciones, y mantenimiento preventivo para 
tus dispositivos tecnológicos.  Todo lo anterior manejado por expertos con certificación 
y preparación de alto nivel.</h3>
<br>

{{>cafe}}

{{>galeria}}

{{>footer}}