{{#if session}}
    {{>navActivo}}
{{else}}
    {{>navbar}}
{{/if}}
    
{{>areaP}}

<br>
<div class="mantenimiento-logo">
<div class="icon-mant"><ion-icon name="wifi-outline"></ion-icon></div>
</div>

<h3 class="descIND">Instalaciones certificadas, en colaboración con CISCO &copy;.
    Ofrecemos el mejor conjunto de equipos, nodos, y software conectados 
    entre sí para obtener la mejor productividad y seguridad en tu negocio.
</h3>
<br>

{{>cafe}}

{{>galeria}}

{{>footer}}