{{#if session}}
    {{>navActivo}}
{{else}}
    {{>navbar}}
{{/if}}
    
{{>areaP}}
<br>
<div class="mantenimiento-logo">
<div class="icon-mant"><ion-icon name="lock-closed"></ion-icon></div>
</div>

<h3 class="descIND">Toda tu informaci칩n encriptada, respaldada, y guardada bajo llave.
    Protegeremos tu seguridad inform치tica de <i>Malware</i>, <i>Blacklist</i>, Explotaciones de vulnerabilidad, 
    Desfiguraci칩n, adem치s de poder tener respaldos en cada cierto periodo de tiempo.
</h3>
<br>

{{>cafe}}

{{>galeria}}

{{>footer}}