{{#if session}}
    {{>navActivo}}
{{else}}
    {{>navbar}}
{{/if}}
    
{{>areaP}}
<br>
<div class="mantenimiento-logo">
<div class="icon-mant"><ion-icon name="server-sharp"></ion-icon></div>
</div>

<h3 class="descIND">Contamos con servidores de alta capacidad de almacenamiento y 
    procesamiento para ofrecer servicios de hosting, guardados en nube privada, 
    cloud computing, entre otros.</h3>
<br>

{{>cafe}}

{{>galeria}}

{{>footer}}