{{#if session}}
    {{>navActivo}}
{{else}}
    {{>navbar}}
{{/if}}
    
{{>areaP}}
<br>
<div class="mantenimiento-logo">
<div class="icon-mant"><ion-icon name="laptop-outline"></ion-icon></div>
</div>

<h3 class="descIND">Tus ideas plasmadas en una página web. Diseñada y programada desde 
    cero por profesionales, utilizando las mejores herramientas disponibles en el mercado actual.
</h3>
<br>



{{>cafe}}

{{>galeria}}

{{>footer}}