{{#if session}}
    {{>navActivo}}
{{else}}
    {{>navbar}}
{{/if}}
    
{{>areaP}}

<br>

<center>
    <div class="misionvision">
        <h2 class="mision">Misión</h2>
        <h4>Desarrollarnos, posicionarnos y consolidarnos como una empresa
            líder en la prestación de servicios tecnológicos, tales como
            desarrollo  web, consultoría y planificación de  
            infraestructura, convirtiéndonos en aliados estratégicos,
            brindando soluciones a la medida de sus necesidades.</h4>
        
        <br>
        
        <h2 class="mision">Visión</h2>
        <h4>Consolidar nuestra presencia en el territorio nacional,
            promover el continuo crecimiento y  la diversificación 
            de cada una de nuestras áreas de actividad, sobre la base de 
            nuestra estructura organizativa abierta y descentralizada, 
            y conquistar un papel de liderazgo en el panorama internacional</h4>
    </div>
    </center>
<br>
 
{{>sobrenosotros}}

{{>galeria}}

{{>footer}}